* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.4s cubic-bezier(0.18, 0.87, 0.54, 1.03);
}

body {
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

p {
  margin: 0;
  padding: 0;
}

.btn-reset {
  padding: 0px, 0;
  border-style: solid;
  border-color: white;
  background-color: white;   /*устанавливает прозрачный фон*/
  cursor: pointer; /*чтоб было видно курсор, что можно кликать*/
  text-align: center;
}

.button {
  padding-top: 40px;
  padding-bottom: 40px;
  /* padding: 40px 10px 40px 40px; */
  box-shadow:  20px 20px 60px #cccccc,
  -20px -20px 60px #ffffff;
  border-radius: 30px;
  width: 175px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.container {
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 50px;
}

.logo {
  margin-top: 25vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  opacity: 0.9;
}

.group-name {
  z-index: 2;
}

.group-name-text {
  font-weight: 550;
  font-size: 1.5em;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.links {
  grid-row: 3 / span 2;
  grid-column: 1 / span 2;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(3, 1fr);
  border-radius: 50px;
  min-height: 147px;
}

.link {
  align-items: center;
  justify-content: center;
  text-align: center;
  scale: 1;
  border-color: none;
  border-width: 3px;
}

.link:hover {
  scale: 1.05;
  border-color: rgb(47, 126, 245);
}

.link:active {
  scale: 0.95;
  border-color: rgb(141, 187, 255);
  box-shadow:  20px 20px 60px #90b4cc,
  -20px -20px 60px #bdd4ff;
}

.link-name {
  font-weight: 300;
  font-size: 1.75em;
}

/* .bottom-line {
  margin-top: 50px;
} */

.footer {
  margin-top: 100px;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 250px;
  margin-right: 250px;
  border-radius: 50px;
}

.footer-link-btn {
  background-color: #242424;
  border-color: transparent;
  padding-left: 35px;
  padding-right: 35px;
  box-shadow:  5px 5px 15px #cccccc,
  -5px -5px 15px #ffffff;
}

.footer-link-btn:hover {
  scale: 1.05;
  border-color: white;
}

.footer-link-btn:active {
  scale: 0.95;
  border-color: white;
}

.footer-link {
  text-decoration: none;
  color: white;
  font-weight: 700;
}